body {
    margin: 0 auto;
    background-color: rgba(0,124,255,1);
    max-width: 1000px;
    text-align: center;
}
header {
    background: url(lightning.jpg);
    background-size: cover;

    color: rgba( 255, 255, 255, 1 );
    text-align: center;
}
header img {
    margin: 40px 0 0 0;
    border: 5px dotted white;
    border-radius: 20px;
    width: 150px;
    height: auto;
}
header ul {
    background-color: rgba( 50, 0, 0, 0.5 );
    margin: 0 auto;
}
header li {
    display: inline;
    margin: 0 auto;
}
header a {
    color: white;
}
.overlay {
    position: fixed;
    height: 240px;
    padding: 20px;
    margin-left: -325px;
    display: block;
    border: 1px solid black;
    background-color: rgba(0, 190, 55, 0.5);
    left: 50%;
    line-height: normal;
    max-height: 240px;
    min-height: 240px;
    top: 200px;
    width: 650px;
    z-index: 10001;
}
.prompt {
    
}
article {
    margin: 0 auto;
    max-width: 500px;
    text-align: justify;
}